<!doctype html>
<html lang="fr">
<head>
    <script type="text/javascript">
        window.location.href = "https://preprod.atmos-serre.com/";
    </script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!--    Twitter card-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@AtmosSerre">
    <meta name="twitter:creator" content="@AtmosSerre">
    <meta name="twitter:title" content="Panier de tomates de <%= username %>">
    <meta name="twitter:description"
          content="Vous aussi, découvrez la serre Atmos en récoltant des tomates parfaites !">
    <meta name="twitter:image:src"
          content="https://share.atmos-serre.com/<%= id %>/image.png">
    <meta name="twitter:image"
          content="https://share.atmos-serre.com/<%= id %>/image.png">

    <!--OpenGraph card-->
    <meta property="og:url"              content="https://share.atmos-serre.com/<%= id %>" />
    <meta property="og:title"              content="Panier de tomates de <%= username %>" />
    <meta property="og:description"        content="Vous aussi, découvrez la serre Atmos en récoltant des tomates parfaites !" />
    <meta property="og:image"              content="https://share.atmos-serre.com/<%= id %>/image.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <title>Panier de tomates de <%= username %></title>
</head>
<body>
<!--<img src="/<%= id %>/image.png" alt="Image de panier">-->
</body>
</html>
